<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About</title>
        <h1>About Me</h1>
        <link rel="stylesheet" href="about.css">
    </head>
    <body align="center">
        Hello, I'm Keyshawn, a Second Year IT and Security Program student at Ontario Tech University. I love playing sports, reading manga, and listening to music.
    </body>
    <footer>
    <img src="Snapchat-777538237.jpg" alt="Keyshawn" style="width: 250px; height: 250px;"><!--changes the height and width of the picture-->
    <video width="300" height="200" controls> <!--changes-->
        <source src="Kagura Bachi Chapter 1 Manga Animation.mp4"><!--Inputs the video-->
        <source src="Kagura-Bachi-Chapter-1-Manga-Animation-_.ogg"><!--Shows the video that has been inputted-->
    </video>
</footer>
</html>