<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"><!--Makes it so that whatever device you view it on it will be the device width-->
        <link rel="stylesheet" href="contact.css"><!--Links my contact css with the html-->
        <title>Contact</title>
        <link>
    </head>
    <body>
        <h1 align="center">Contact Me Page</h1><!--Centers my header-->
        <h2 align="Center">Enter Your Full Name and Email Address Down Below To Contact Me For Any Questions</h2>
    </body>
    <form align="center"> <!--Makes the form for which the user can contact me-->
        <label for="Full Name">Full Name:</label><br>
        <input type="Full Name"><br>
        <label for="Email Address">Email:</label><br>
        <input type="Email"><br>
        <label for="Validation">So I know you aren't a robot. What is 8+2?</label><br>
        <input type="Verify"><br>
        <input type="Button" value="Submit"><br>
    </form>
    <footer>
    keyshawn.forde@ontariotechu.net
    </footer>
    <footer>
    Copyrighted by Keykey
    </footer>
</html>