<!DOCTYPE html>
<html lang="en"> <!--makes language english-->
<head>
    <title>Home Page</title>
</head>
<body>
    <%- include ('partials/header') %> <!--Includes the header-->
    <h1 align="center">Keyshawn's Portfolio</h1>
    <%- include('partials/footer') %> <!--Includes the footer-->
</body>
</html>