<!DOCTYPE html>
<html lang="en"> <!--makes language english-->
<head>
    <title>Home Page</title>
</head>
<body>
    <%- include ('partials/header') %>
    <h1>Keyshawn's Portfolio</h1>
    <%- include('partials/footer') %>
</body>

</html>