<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- Include your CSS and JavaScript references here -->
</head>
<body>
  <%- include('partials/header') %>

  <%- body %>

  <%- include('partials/footer') %>
</body>
</html>